<!--INPUT BOTON-->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="cambiaValor(-5)">
            <i class="fas fa-minus"></i>
        </button>
    </div>
    <input #progressInput (ngModelChange)="onChanges($event)" type="number" class="form-control" aria-describedby="button-addon1" [(ngModel)]="progreso" max="100" min="1">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="cambiaValor(+5)">
                <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
